:root {
    --color-black: #000000;
    --color-text: #e7e9ea;
    --color-brand: #1D9BF0;
    --color-text-light: #71767b;
    --color-text-red: #f91880;
    --color-bg-red: rgba(249, 24, 128, .6);
    --color-hover: rgba(239, 243, 244, .1);
    --color-border: rgba(239, 243, 244, .2);
    --color-bg-brand: rgba(29, 155, 240, .5);
}